/.UnifiedAbstractEdge.java._trace
/.UnifiedAbstractElement.java._trace
/.UnifiedAbstractGraph.java._trace
/.UnifiedAbstractNode.java._trace
/.UnifiedAbstractEdge.xtendbin
/.UnifiedAbstractElement.xtendbin
/.UnifiedAbstractGraph.xtendbin
/.UnifiedAbstractNode.xtendbin
/UnifiedAbstractEdge.java
/UnifiedAbstractElement.java
/UnifiedAbstractGraph.java
/UnifiedAbstractNode.java
